%h1 Listing site_types

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Section Types
      %th User
      %th
      %th
      %th
  %tbody
    - @site_types.each do |site_type|
      %tr
        %td= site_type.name
        %td
          - site_type.section_types.each do |s|
            = s.name
            %br
        %td= site_type.user.email
        %td= link_to 'Show', site_type
        %td= link_to 'Edit', edit_site_type_path(site_type)
        %td= link_to 'Destroy', site_type, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Site type', new_site_type_path
