
%p
  %b.label Name:
  = @site_type.name
%p
  %b.label Section Types:
  - @site_type.section_types.each do |s|
    %a.btn{:href => section_type_path(s)}
      = s.name
      %i.icon-zoom-in
%p
  %b.label User:
  = @site_type.user.email

= link_to 'Edit', edit_site_type_path(@site_type)
\|
= link_to 'Back', site_types_path
