 
%p
  %b.label Data:
  = @entry.data.attributes
%p
  %b.label Entry type:
  = @entry.entry_type
%p
  %b.label Section:
  = @entry.section
%p
  %b.label User:
  = @entry.user

= link_to 'Edit', edit_entry_type_entry_path(@entry_type, @entry)
\|
= link_to 'Back', entry_type_entries_path(@entry_type)
