%h1 Listing section_types

%table
  %tr
    %th Name
    %th Entry Types
    %th User
    %th
    %th
    %th

  - @section_types.each do |section_type|
    %tr
      %td= section_type.name
      %td
        - section_type.entry_types.each do |e|
          = e.name
          %br
      %td= section_type.user.email
      %td= link_to 'Show', section_type
      %td= link_to 'Edit', edit_section_type_path(section_type)
      %td= link_to 'Destroy', section_type, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Section type', new_section_type_path
