%p#notice= notice

%p
  %b Name:
  = @section_type.name
%p
  %b Entry Types:
  - @section_type.entry_types.each do |e|
    = e.name
%p
  %b User:
  = @section_type.user.email

= link_to 'Edit', edit_section_type_path(@section_type)
\|
= link_to 'Back', section_types_path
