%h1 Listing entry_types

%table.table.table-hover
  %tr
    %th Name
    %th Model
    %th Fields
    %th Form code
    %th User
    %th
    %th
    %th

  - @entry_types.each do |entry_type|
    %tr
      %td= entry_type.name
      %td= entry_type.model.class
      %td
        -entry_type.field_types.each do |ft|
          = ft.name + ":" + ft.data_type.name
          %br
      %td= entry_type.form_code
      %td= entry_type.user.email
      %td= link_to 'Show', entry_type
      %td= link_to 'Edit', edit_entry_type_path(entry_type)
      %td= link_to 'Destroy', entry_type, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Entry type', new_entry_type_path
