%p
  %b.label Name:
  = @entry_type.name
%p
  %b.label Model:
  = @entry_type.model

%p
  %b.label Model Code:
  = @entry_type.model_code
%p
  %b.label
    Form code:
  %pre
    :preserve
      #{@entry_type.form_code}
%p
  %b.label Field Types:
  - @entry_type.field_types.each do |m|
    = m.name + ":" + m.data_type.name
%p
  %b.label User:
  = @entry_type.user.email

= link_to 'Edit', edit_entry_type_path(@entry_type)
\|
= link_to 'Back', entry_types_path
