%h1 Listing field_types

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Label
      %th Data type
      %th User
      %th
      %th
      %th

  - @field_types.each do |field_type|
    %tr
      %td= field_type.name
      %td= field_type.label
      %td= field_type.data_type.name
      %td= field_type.user.email
      %td= link_to 'Show', field_type
      %td= link_to 'Edit', edit_field_type_path(field_type)
      %td= link_to 'Destroy', field_type, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Field type', new_field_type_path
